body {
  background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80)
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: lightgray;
}

.on {
  background-color:#00CCFF;
}

.box:hover {
  background: #c71585;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Rammetto One', cursive;
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}
p {

  color: white;

}

h4 {
  margin-top: 0px;
}